.form {
  max-width: 358px;
  display: grid;
  grid-template-rows: 37px;
}

@media screen and (max-width: 620px) {
  .form {
    max-width: 238px;
  }
}

.form_disabled {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}

.form__subtitle {
  margin: 0px;
  width: 400px;
  min-height: 27px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13.31px;
  color: #ffffff;
  text-align: right;
  box-sizing: border-box;
  position: relative;
  background: transparent;
}

.form__subtitle:active {
  border-bottom: 1px solid #4285f4;
}

.form__subtitle.form__subtitle__invalid {
  border-bottom: 1px solid #ff0000;
}

.form__name {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13.31px;
  color: #ffffff;
  width: 130px;
  margin: 23px 0px 6px 0px;
}

.form__name:last-of-type {
  margin-top: 25px;
}

.search__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.search__container:last-of-type {
  border-bottom: none;
}

.exit_button {
  padding: 0;
  border: none;
  font: inherit;
  color: #ee3465;
  background-color: transparent;
  position: relative;
  top: 100px;
}

.form__button {
  padding: 0;
  border: none;
  margin: 0px;
  width: 100%;
  min-height: 50px;
  background: #11ffee00;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 323px) {
  .form__button {
    margin-top: 15px;
    margin-bottom: 0px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

.form__button:hover {
  opacity: 0.8;
  transition: opacity linear 0.5s;
}

@media (max-width: 650px) {
  .form__button {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.login__error-request_active {
  visibility: visible;
  visibility: hidden;
  display: block;
  width: 100%;
  min-height: 14px;
  margin-top: 117px;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  color: #ff004c;
}
