.popup__input {
  width: 100%;
  padding: 0 0 9px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: var(--dark-color);
  outline: none;
  margin-bottom: 5px;
}

.popup__input_invalid {
  border-bottom: 1px solid #ff0000;
  color: #ff0000;
}

.popup__error {
  color: #ff0000;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  min-height: 29.04px;
}

.popup__error:last-of-type {
  margin-bottom: -6px;
}

.login__error {
  margin: 0px;
  display: block;
  color: #ff0000;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  min-height: 29.04px;
}
