.page__search {
  padding: 70px 70px 0;
}

@media screen and (max-width: 1023px) {
  .page__search {
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .page__search {
    padding-top: 70px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media screen and (max-width: 323px) {
  .page__search {
    padding-top: 70px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

.search__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3px;
}

@media screen and (max-width: 525px) {
  .search__container {
    padding-bottom: 39px;
  }
}

@media screen and (max-width: 323px) {
  .search__container {
    padding-bottom: 26px;
    margin-bottom: 5px;
  }
}

.search__form {
  margin-bottom: 23px;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1.5px solid #aaaaaa;
  border-radius: 8px;
}

@media screen and (max-width: 320px) {
  .search__form {
    margin-bottom: 0px;
  }
}

.search__input {
  margin: 0px;
  width: 90%;
  min-height: 70px;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  color: #8b8b8b;
  border-bottom: 1, 5px solid #aaaaaa;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 689px) {
  .search__input {
    min-height: 70px;
  }
}

@media screen and (max-width: 525px) {
  .search__input {
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    min-height: 0px;
  }
}

.search__input:focus {
  outline: 0.2px solid #4285f4;
}

.search__submit {
  width: 111px;
  height: 52px;
  padding: 0;
  background-color: #4285f4;
  border: none;
  border-radius: 5px;
  transition: opacity 0.3s linear;
  cursor: pointer;
  color: #ffffff;
  margin: 9px 9px 0px 0px;
  font-weight: 400;
  font-size: 14px;
}

@media screen and (max-width: 769px) {
  .search__submit {
    width: 118px;
  }
}

@media screen and (max-width: 527px) {
  .search__submit {
    margin: 6px 4px 4px 0px;
    font-size: 14px;
    height: 42px;
    line-height: normal;
  }
}

@media (hover: hover) and (pointer: fine) {
  .search__submit:hover {
    opacity: 0.7;
  }
}

.container-4 {
  vertical-align: middle;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container-4 input#search {
  width: 100%;
  height: 50px;
  background: #202020;
  border: none;
  float: left;
  color: #8b8b8b;
  padding: 0px 0px 1px 23px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 525px) {
  .container-4 input#search {
    padding: 0px 0px 1px 10px;
  }
}

@media screen and (max-width: 323px) {
  .container-4 {
    height: 55px;
  }
}

.search__label-container {
  display: flex;
  align-self: flex-start;
  cursor: pointer;
  transition: opacity 0.3s linear;
  margin-left: 69px;
  border-bottom: 1px solid #424242;
  width: 90%;
  padding-bottom: 42px;
}

@media screen and (max-width: 768px) {
  .search__label-container {
    align-self: flex-end;
    flex-direction: row-reverse;
    margin-left: 3px;
  }
}

@media screen and (max-width: 525px) {
  .search__label-container {
    align-self: center;
  }
}

.search__label-containe_disabled {
  pointer-events: none;
}

.search__check-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.search__check-text {
  padding-top: 1px;
  margin-left: 15px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .search__check-text {
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media screen and (max-width: 525px) {
  .search__check-text {
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 9px;
  }
}

@media screen and (max-width: 323px) {
  .search__check-text {
    margin-left: 13px;
  }
}

.search__check {
  width: 36px;
  height: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 44px;
}

@media screen and (max-width: 769px) {
  .search__check {
    padding-bottom: 52px;
  }
}

@media screen and (max-width: 323px) {
  .search__check {
    padding-bottom: 63px;
  }
}

.search__check-svg {
  position: absolute;
  top: 2px;
  left: 0;
}

.search__check-svg-circle {
  transition: all 0.3s linear;
}

.search__check-svg-circle_active {
  fill: #a0a0a0;
}

.search__check-svg-rect {
  border-radius: 10px;
  width: 36px;
  height: 20px;
  transition: all 0.3s linear;
}

.search__check-svg-rect_active {
  fill: #343434;
}

@media (hover: hover) and (pointer: fine) {
  .search__label-container:hover {
    opacity: 0.7;
  }
}

/* toggle switch */

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 36px;
  height: 20px;
  background: #ebebeb;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 8px;
  height: 8px;
  background: #ffffff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #2be080;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 1%;
}

centering body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
