@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

/* MAIN - about - часть об учебном проекте */

.page__about {
  padding: 75px 0;
  background-color: #073042;
  display: grid;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .page__about {
    flex-direction: column;
    align-items: center;
    padding: 140px 0 76px;
  }
}

@media screen and (max-width: 767px) {
  .page__about {
    padding: 70px 0 32px;
  }
}

.about__container {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-left: 70px;
  display: grid;

  grid-template-areas:
    "A A A A   D D D"
    "B B B B   D D D"
    "C C C C   D D D";
}

@media screen and (max-width: 1226px) {
  .about__container {
    margin: auto;
    padding-left: 0px;
    place-items: center;
    width: calc(680 / 768 * 100%);
    grid-template-areas:
      "D D D D"
      "A A A A"
      "B B B B"
      "C C C C";
  }
}

@media screen and (max-width: 767px) {
  .about__container {
    padding-left: 0px;
  }
}

@media screen and (max-width: 320px) {
  .about__container {
    padding-left: 0px;
    column-gap: 0px;
  }
}

.about__title {
  color: #ffffff;
  margin: 0 100px 36px 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  width: 640px;
  grid-area: A;
}

@media screen and (max-width: 1226px) {
  .about__title {
    text-align: center;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 22px 0;
  }
}

@media screen and (max-width: 767px) {
  .about__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.2px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .about__title {
    width: 284px;
    margin: -4px 0px 23px 0px;
  }
}

.about__subtitle {
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  margin-bottom: 146px;
  max-width: 310px;
  font-weight: 400;
  font-size: 13px;
  line-height: normal;

  grid-area: B;
}

@media screen and (max-width: 1023px) {
  .about__subtitle {
    margin-bottom: 92px;
    max-width: 260px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .about__subtitle {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 320px) {
  .about__subtitle {
    width: 300px;
  }
}

.about__link {
  display: block;
  border-radius: 3px;
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 129px;
  min-height: 36px;
  padding-top: 9px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  background-color: transparent;

  grid-area: C;
}

.about__link:hover {
  opacity: 0.5;
  transition: linear 0.3s;
  cursor: pointer;
}

.portfolio__link:hover {
  opacity: 0.5;
  transition: linear 0.3s;
  cursor: pointer;
}

.about__main-illustration {
  height: 304px;
  width: 310px;
  background-repeat: no-repeat;
  background-image: url(../../images/web_world.svg);
  background-size: cover;
  grid-area: D;
}

@media screen and (max-width: 1023px) {
  .about__main-illustration {
    margin-right: 0;
    margin-bottom: 48px;
    order: -1;
  }
}

@media screen and (max-width: 350px) {
  .about__main-illustration {
    height: 206px;
    width: 210px;
  }
}

/* MAIN - project - часть о проекте */

.page__project {
  padding: 110px 70px;
}

@media screen and (max-width: 1023px) {
  .page__project {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 767px) {
  .page__project {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 320px) {
  .page__project {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 18px;
    padding-right: 18px;
  }
}

.project__title {
  margin: 0 auto;
  margin-bottom: 70px;
  padding-bottom: 24px;
  border-bottom: 1px solid #dadada;
  max-width: 100%;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .project__title {
    padding-bottom: 29px;
    margin-bottom: 60px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}

.project__container {
  margin: 0 auto;
  margin-bottom: 110px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, auto));
  column-gap: 40px;
  row-gap: 26px;
}

@media screen and (max-width: 1023px) {
  .project__container {
    margin-bottom: 93px;
    column-gap: 30px;
    row-gap: 22px;
  }
}

@media screen and (max-width: 767px) {
  .project__container {
    margin-bottom: 62px;
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
}

.project__subtitle {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .project__subtitle {
    font-size: 18px;
    letter-spacing: -0.72px;
  }
  .project__subtitle:last-of-type {
    grid-column: 1;
    grid-row: 3;
  }
}

.project__description {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .project__description {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .project__description {
    font-size: 11px;
    line-height: 16px;
  }
  .project__description:first-of-type {
    margin-bottom: 42px;
  }
}

.project__time-line {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: calc(228 / 1140 * 100%) 1fr;
  row-gap: 14px;
}

@media screen and (max-width: 1023px) {
  .project__time-line {
    grid-template-columns: calc(140 / 668 * 100%) 1fr;
  }
}

@media screen and (max-width: 767px) {
  .project__time-line {
    grid-template-columns: calc(100 / 284 * 100%) 1fr;
    row-gap: 10px;
  }
}

.project__progress {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #303030;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .project__progress {
    padding-top: 10px;
    padding-bottom: 11px;
    font-size: 11px;
  }
}

.project__progress_backend {
  background-color: #3ddc84;
  color: #000000;
}

.project__text {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #8b8b8b;
}

@media screen and (max-width: 767px) {
  .project__text {
    font-size: 11px;
    line-height: normal;
  }
}

/* MAIN - technologies - часть о проекте */

.page__technologies {
  width: (1280-70-70) px;
  padding: 100px 70px;
  background-color: #272727;
}

@media screen and (max-width: 1023px) {
  .page__technologies {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 767px) {
  .page__technologies {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 320px) {
  .page__technologies {
    padding-top: 67px;
    padding-bottom: 70px;
    padding-left: 18px;
    padding-right: 18px;
  }
}

.technologies__title {
  margin: 0 0 90px 0;
  padding-bottom: 24px;
  border-bottom: 1px solid #dadada;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.63px;
  letter-spacing: -0.88px;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .technologies__title {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 767px) {
  .technologies__title {
    padding-bottom: 28px;
    margin-bottom: 60px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}

@media screen and (max-width: 320px) {
  .technologies__title {
    margin-bottom: 56px;
  }
}

.technologies__subtitle {
  margin: 0 0 26px 0;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .technologies__subtitle {
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 767px) {
  .technologies__subtitle {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }
}

.technologies__description {
  margin: 0 auto 100px;
  text-align: center;
  max-width: calc(460 / 1140 * 100%);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.56px;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .technologies__description {
    margin-bottom: 83px;
    max-width: calc(460 / 768 * 100%);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 767px) {
  .technologies__description {
    margin-bottom: 50px;
    max-width: 100%;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
  }
}

.technologies__lists {
  list-style-type: none;
  max-width: 690px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  gap: 10px;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .technologies__lists {
    max-width: 648px;
    grid-template-columns: repeat(auto-fit, 84px);
  }
}

@media screen and (max-width: 767px) {
  .technologies__lists {
    max-width: calc(178 / 284 * 100%);
    grid-template-columns: repeat(auto-fit, 84px);
  }
}

.technologies__list {
  padding: 21px 0;
  border-radius: 10px;
  background-color: #303030;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.56px;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .technologies__list {
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

/* MAIN - student - часть о проекте */

.page__student {
  padding: 110px 0 101px;
  width: (1280-70-70) px;
  padding: 100px 70px;
  background-color: #202020;
}

@media screen and (max-width: 1023px) {
  .page__student {
    padding: 81px 50px;
  }
}

@media screen and (max-width: 767px) {
  .page__student {
    padding-top: 71px;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 320px) {
  .page__student {
    padding-top: 60px;
    padding-bottom: 57px;
    padding-right: 18px;
    padding-left: 14px;
  }
}

.student__title {
  margin: 9px 0 66px 0;
  padding-bottom: 24px;
  border-bottom: 1px solid #dadada;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.63px;
  letter-spacing: -0.88px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .student__title {
    margin-bottom: 60px;
    padding-bottom: 28px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}

@media screen and (max-width: 320px) {
  .student__title {
    margin-bottom: 56px;
    padding-bottom: 25px;
  }
}

.student__container {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: minmax(0, 600px) 270px;
}

@media screen and (max-width: 1023px) {
  .student__container {
    grid-template-columns: minmax(0, 367px) 255px;
  }
}

@media screen and (max-width: 767px) {
  .student__container {
    justify-content: center;
    grid-template-columns: minmax(284px, auto);
    row-gap: 38px;
  }
}

@media screen and (max-width: 320px) {
  .student__container {
    row-gap: 33px;
  }
}

.student__name {
  margin: 0 0 18px 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .student__name {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }
}

@media screen and (max-width: 767px) {
  .student__name {
    margin-bottom: 18px;
    font-size: 30px;
    letter-spacing: -1.2px;
  }
}

.student__job {
  margin: 0 0 26px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .student__job {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .student__job {
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 16px;
  }
}

.student__description {
  margin: 0 0 99px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .student__description {
    margin-bottom: 86px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .student__description {
    margin-bottom: 39px;
    font-size: 11px;
    line-height: 16px;
  }
}

.student__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  color: #ffffff;
  transition: opacity 0.3s linear;
}

.student__image {
  display: block;
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

@media screen and (max-width: 1023px) {
  .student__image {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 767px) {
  .student__image:first-of-type {
    width: 284px;
    height: 352px;
    grid-column: 1;
    grid-row: 1;
  }
}

@media screen and (max-width: 320px) {
  .student__image:first-of-type {
    width: 292px;
    height: 361px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .student__link:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

/* MAIN - portfolio - часть о проекте */

.page__portfolio {
  padding: 0 70px 105px 70px;
  width: (1280-70-70) px;
  background-color: #202020;
}

@media screen and (max-width: 1023px) {
  .page__portfolio {
    padding: 8px 49px 128.9px 50px;
  }
}

@media screen and (max-width: 767px) {
  .page__portfolio {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 323px) {
  .page__portfolio {
    padding: 14px;
  }
}

.portfolio__title {
  margin: 0 0 50px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #8b8b8b;
}

@media screen and (max-width: 767px) {
  .portfolio__title {
    font-size: 14px;
    margin-bottom: 40px;
  }
}

.portfolio__menu {
  width: 100%;
}

@media screen and (max-width: 1025px) {
  .portfolio__menu {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__menu {
    width: 100%;
  }
}

.portfolio__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 1220px) {
  .portfolio__links {
    width: 100%;
  }
}

.portfolio__link {
  width: 100%;
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 13px;
  margin-bottom: 16px;
  border-bottom: 1px solid #424242;
  display: flex;
  justify-content: space-between;
  color: #ffffff;

  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 1023px) {
  .portfolio__link {
    letter-spacing: -2.2px;
  }
}

@media screen and (max-width: 323px) {
  .portfolio__link {
    padding-bottom: 19px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -2.2px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__link {
    padding-bottom: 0px;
    margin-bottom: 0px;
    letter-spacing: -0.8px;
    margin-bottom: 22px;
  }
}

.portfolio__arrow {
  width: 29px;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url(../../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: 4px 18px;
  background-size: 20px 18px;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 320px) {
  .portfolio__arrow {
    background-position: 15px 4px;
    background-size: 10px 18px;
    height: 46px;
  }
}

.portfolio__layout {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#link:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
